<div
  class="form-container mat-elevation-z5 text-center"
  *ngIf="user$ | async as user"
>
  <h1>Perfil</h1>
  <div class="profile-image">
    <img
      width="120"
      height="120"
      [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
    />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField type="file" hidden (change)="carregarImagem($event, user)" />
  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="salvarPerfil()">
    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="primeiroNome"
          placeholder="Primeiro Nome"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="ultimoNome"
          placeholder="Ultimo Nome"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="displayName"
          placeholder="Nome Exibido"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          formControlName="telefone"
          placeholder="Telefone"
        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="endereco"
        placeholder="Endereço"
      />
    </mat-form-field>

    <button type="submit" class="margin-top" mat-raised-button color="primary">
      Save
    </button>
  </form>
</div>
